body{
  font-family: 'Poppins', 'sans-serif';
}


#logo{
  position: absolute;
  top: 20px;
  left:30px;
  height:55px;
  width:55px;
}

.navbar {
  height: 100px;
  line-height: 80px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.navbar-brand {
  position: relative;
  top:25px;
  left:85px;
  font-stretch: extra-condensed;
  color: black;
  font-size: 18px;
}

.navbar-brand:hover {
  position: relative;
  top:25px;
  left:85px;
  font-stretch: extra-condensed;
  color: black;
  font-size: 18px;
}

#heading{
  font-size: 70px;
  text-align: center;
}

#mainblock {
  position: absolute;
  display: contents;
  justify-content: center;
  width: 80%;
  left:10%;
  height: auto;
  text-align: center;
  box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.2);
}

#content {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}



table{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#grandtotal{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 10px 10px 10px;
  font-size: 30px;
  width: 300px;
  height: 250px;
}

.checkoutPage {
  font-size: 15px;
  background-color: green;
  color: white;
  padding: 5px 5px;
  margin: 8px 0;
  border: 1px solid white;
  width: 200px;
  height: 50px;
}

.return-home {
  font-size: 15px;
  background-color: red;
  color: white;
  padding: 5px 5px;
  margin: 8px 0;
  border: 1px solid white;
  width: 200px;
  height: 50px;
}

@media(max-width: 1260px) {

  .checkoutPage {
    font-size: 15px;
    background-color: green;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: 1px solid white;
    width: 200px;
    height: 50px;
  }

  .return-home {
    font-size: 15px;
    background-color: red;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: 1px solid white;
    width: 200px;
    height: 50px;
  }
    #buttons {
      font-size: 20px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin: auto;
      transform: translateX(-50%);
    }
}
@media (max-width: 900px) {
  #heading{
    font-size: 50px;
    text-align: center;
  }

  #mainblock {
    display: contents;
    justify-content: center;
    width: 95%;
    left:2.5%;
    text-align: center;
    box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.2);
  }


  .checkoutPage {
    font-size: 15px;
    background-color: green;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: 1px solid white;
    width: 200px;
    height: 50px;
  }

  .return-home {
    font-size: 15px;
    background-color: red;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: 1px solid white;
    width: 200px;
    height: 50px;
  }
  #buttons {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: auto;
  }
  #grandtotal{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 10px 10px 10px;
    font-size: 30px;
    width: 300px;
    height: 250px;
  }

}

#Copyright{
  background-color: grey;
  text-align: center;
  margin-top: 5px white;
  align-items: center;
  padding: 10px;
  color: white;
  height: 50px;
  width: 100%;
  position: absolute;
  font-size: 18px;
  bottom: 0;
}
